@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@400;500;600;700;800;900&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html { 
    --text-color: aliceblue;
    --text-quiet: rgb(127, 127, 127);
    --title-color: rgb(244, 63, 43);
    --title-color2: rgba(244, 63, 43, 0.8);
    --icons-color: rgba(244, 227, 43, 0.8);
    --icons-color2: rgba(244, 227, 43, 0.3);
    --main-color: rgba(244, 46, 43, 0.5);
    --main-color1: #f43f2b;
    --main-color2: rgba(244, 63, 43, 0.8);
    --main-color3: rgba(244, 63, 43, 0.6);
    --main-color4: rgba(244, 63, 43, 0.4);
    --main-color5: rgba(244, 63, 43, 0.2);
    --main-color6: rgba(244, 63, 43, 0.1);
}

body {
    cursor: default;
    background-color: rgb(50, 49, 54);
    color: var(--text-color);
    font-family: 'Raleway';
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    background: linear-gradient(65deg, var(--main-color)0%, rgb(0, 0, 0)100%);
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
    overflow: hidden; 
    height: 200px;
    .img-back { 
        display: flex;
        align-self: center;
        width: 500px;
        z-index: 0;
        opacity: 0.8;
        object-position: 0px -132px;
    }
    & .header-top {
        position: fixed;
        display: flex;
        flex-direction: row;
        padding: 10px;
        font-weight: 600;
        font-size: 15px;
        z-index: 10; 
        & .header-align-left {
            height: 50px;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: auto;
            gap: 25px;
            padding: 2px 20px 2px 10px;
            border-radius: 90px;
            background-color: rgb(34, 33, 37);
            overflow: hidden;
            font-size: 25px;
            left: 25px;
            color: var(--title-color);
            & img {
                height: 40px;
                width: auto;
            }
        }
        & .header-align-right {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            padding: 2px 10px 2px 10px;
            border-radius: 90px;
            cursor: default;
            background-color: rgb(34, 33, 37);
            height: 50px; 
            position: fixed;
            right: 8px;
            color: var(--title-color);
            & .logo {
                cursor: pointer;
                transition: 0.2s ease;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
                padding-left: 4px;
                .over {
                    height: 28px;
                    width: 28px;
                    overflow: hidden;
                    border-radius: 90px;
                    display: flex;
                    justify-content: center;
                    & img {
                        transition: 0.2s ease;
                        border-radius: 90px;
                    }
                }
            }
        }
        & .pol-conf {
            cursor: pointer;
            border-radius: 90px;
            transition: 0.2s ease;
            background-color: rgba(0, 0, 0, 0);
            padding: 5px 10px;
            &:hover {
                background-color: var(--main-color6);
            }
        }
        & .logo {
            display: none !important;
            height: 40px;
            width: auto;
            padding: 0px !important;
        }
    }
}

.action-menu {
    display: flex;
    display: inline-block;
    &:hover {
        & .dropdown {
            opacity: 1;
            display: block;
        }
    }
    & .menu-button {
        border: none;
        padding: 0 0 0 8px;
        cursor: pointer;
        background-color: transparent;
        transition: ease 0.2s;
        & .menu-logo {
            font-size: 23px;
            color: var(--main-color1);
        }
    }
    & .dropdown {
        display: none;
        overflow: hidden;
        position: absolute;
        opacity: 0;
        min-width: 150px;
        background-color: rgb(34, 33, 37);
        border-radius: 0 10px 10px 10px;
        & .dropdown-item {
            padding: 6px;
            text-decoration: none;
            display: flex;
            flex-direction: row;
            cursor: pointer;
            transition: ease 0.2s;
            border-radius: 10px;
            align-items: center;
            &:hover {
                background-color: var(--main-color6);
            }
        }
        & .not-accessible {
            color: var(--main-color4);
            background-color: rgba(0, 0, 0, 0);
            cursor: not-allowed;
            & .logo {
                cursor: not-allowed;
                & .over {
                    cursor: not-allowed;
                }
            }
        }
    }
}

.sep {
    height: 10px;
    width: 10px;
    border-radius: 90px;
    background: var(--icons-color2);
    color: rgba(0, 0, 0, 0);
    transition: 0.25s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    & img {
        height: 30px;
        width: auto;
        opacity: 0;
        transition: 0.25s ease;
        filter: sepia(100%) saturate(500%) opacity(0.8);
        &:active {
            transform: scale(1.25);
        }
    }
    &:hover {
        background-color: transparent;
        justify-content: center;
        align-items: center;
        & img {
            opacity: 1;
            height: 24px !important;
            width: auto;
        }
    }
}

#privacy-policy, #impressum {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & .background {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(10px);
        position: fixed;
    }
    & .container {
        position: relative;
        z-index: 11;
        background-color: rgba(22, 22, 22, 0.9);
        border: solid 1px var(--main-color5);
        border-radius: 15px;
        padding: 20px;
        height: fit-content;
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 20px;
        min-width: 40vw;
        overflow-y: scroll;
        & .top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 5vw;
            & .name {
                color: var(--title-color);
                font-weight: 600;
                font-size: larger;
            }
            & .leave {
                height: 24px;
                user-select: none;
                font-family: 'Material Symbols Rounded';
                border: 1px solid var(--main-color1);
                background-color: var(--main-color5);
                color: var(--title-color);
                padding: 5px;
                border-radius: 5px;
                transition: ease 0.2s;
                cursor: pointer;
                & img {
                    height: 24px;
                    width: auto;
                }
                &:hover {
                    background-color: var(--main-color4);
                    transform: scale(1.1);
                    border-radius: 8px;
                }
            }
        }
        & .sepLine {
            width: 100%;
            padding-top: 1px;
            border-radius: 90px;
            background-color: var(--main-color4);
        }
        & .content {
            display: flex;
            flex-direction: column;
            color: var(--text-quiet);
        }
    }
}

.visible {
    display: flex !important;
    overflow: hidden;
}

.first {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    width: 50vw;
    background: linear-gradient(40deg, rgb(34, 33, 37) 0%, rgb(49, 49, 46)80%, rgb(34, 33, 37)100%);
    margin: 0 0 75px 25vw;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.6);
    & .igur {
        width: 50%;
        height: 65vh;
        object-fit: cover;
        object-position: -260px;
        user-select: none;
    }
    & .side-text {
        margin: 25px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 26px;
        & .title {
            text-align: center;
            font-size: x-small;
            font-style: italic;
            color: var(--title-color);
        }
        & .main-text {
            font-size: larger;
            font-weight: 800;
            text-align: center;
            color: var(--title-color);
        }
    }
}

.third {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 60vw;
    margin-left: 19.6vw;
    gap: 4vh;
    & .contact-boxes {
        box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.6);
        background: linear-gradient(40deg, rgb(34, 33, 37) 0%, rgb(49, 46, 46)80%, rgb(34, 33, 37)100%);
        padding: 3vh;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 2vh;
        & .connect {
            display: flex;
            align-items: center;
            font-size: 22px;
            margin-left: 2vh;
            color: var(--text-color);
        }
        & .name {
            color: var(--title-color);
            font-size: 26px;
            font-weight: 600;
        }
    }
}

.fourth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: 75px 0;
    color: var(--title-color);
}

.fifth {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-bottom: 50px;
    width: 80%;
    border-radius: 10px;
    margin-left: 10%;
    & .card {
        display: flex;
        flex-direction: row;
        box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.6);
        border-radius: 10px;
        overflow: hidden;
        background: linear-gradient(40deg, rgb(34, 33, 37) 0%, rgb(49, 49, 46)80%, rgb(34, 33, 37)100%);
        & img {
            height: 350px;
            object-fit: cover;
            object-position: center;
            opacity: 0.9;
            user-select: none;
        }
        & .description {
            display: flex;
            & .title {
                display: flex;
                gap: 15px;
                align-items: center;
                & .logo {
                    height: 55px;
                    opacity: 0.9;
                }
                & .real-title {
                    font-size: 32px;
                    color: var(--title-color2);
                }
            }
            & .real-description {
                width: 70%;
                margin-left: 5%;
                line-height: 1.5;
                height: 65%;
                display: flex;
                align-items: center;
                font-size: 20px;
            }
        }
    }
    & .card:nth-child(odd) {
        flex-direction: row;
        & .description {
            flex-direction: column;
            & .title {
                margin: 15px 0 10px 7px; 
                flex-direction: row;
            }
            & .real-description {
                margin-left: 5%;
            }
        }
    }
    & .card:nth-child(even) {
        flex-direction: row-reverse;
        & .description {
            flex-direction: column;
            & .title {
                margin: 15px 10px 7px 0;
                flex-direction: row-reverse;
            }
            & .real-description {
                margin-right: 5%;
                margin-left: auto;
                text-align: right;
            }
        }
    }
}

.gallery-contain {
    display: flex;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 80vw;
    margin-left: 10vw;
    & .title {
        display: flex;
        font-size: 30px;
        font-weight: 600;
        color: var(--title-color);
    }
    & .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 20px;
        & img {
            width: 20vw;
            height: 20vh;
            object-fit: cover;
            cursor: pointer;
            border-radius: 10px;
            background-color: var(--main-color4);
            border: none;
            transition: ease 0.3s;
            box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.6);
            user-select: none;
            &:hover {
                transform: scale(1.06);
                border-radius: 24px;
                filter: grayscale(0.6);
            }
        }
    }
    .lightbox {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        justify-content: center;
        align-items: center;

        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(10px);
        z-index: 10;
        & img {
            max-width: 90%;
            max-height: 90%;
            border-radius: 10px;
            user-select: none;
        }
    }
}

footer {
    background: linear-gradient(-40deg, rgb(34, 33, 37) 0%, rgb(34, 33, 37)100%);
    height: fit-content;
    padding: 25px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    & .align-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        margin-left: 25px;
        gap: 0;
        & .pol-conf {
            cursor: pointer;
            border-radius: 90px;
            transition: 0.2s ease;
            background-color: rgba(0, 0, 0, 0);
            padding: 5px 10px;
            &:hover {
                background-color: var(--main-color6);
            }
        }
        & .rights {
            margin-right: 10px;
        }
    }
    & .align-right {
        justify-content: end;
        margin: 0 25px 0 auto;
        cursor: pointer;
        border-radius: 90px;
        transition: 0.2s ease;
        background-color: rgba(0, 0, 0, 0);
        padding: 5px 10px;
        &:hover {
            background-color: var(--main-color6);
        }
    }
}

.me-gg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    gap: 1vw;
    background: linear-gradient(-40deg, rgb(34, 33, 37) 0%, rgb(34, 33, 37)100%);
    height: 6vh;
    color: var(--text-quiet);
    box-shadow: 0 0 40px inset rgb(28, 27, 30);
    & p {
        margin: 0;
    }
    & span {
        color: var(--title-color2);
        font-weight: 500;
    }
    & .link:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.txtl, .txtm, .txts, .ttla, .ttlb, .ttlc {
    display: flex;
    justify-content: center;
    align-content: center;
}

.ttla {
    font-size: 24px;
    font-weight: 600;
    color: var(--title-color);
}

.ttlb {
    font-size: 21px;
    color: var(--title-color2);
}

.ttlc {
    font-size: 18px;
}

.txtl {
    font-size: larger;
}

.txtm {
    font-size: medium;
}

.txts {
    font-size: smaller;
}

.symbol {
    height: 24px;
    width: auto;
    margin-right: 10px;
    & img {
        height: 24px;
        width: auto;
        transition: 0.25s ease;
        filter: saturate(0%);
        &:active {
            transform: scale(1.25);
        }
    }
}

::-webkit-scrollbar {
    width: 4px;
    height: 3px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--main-color3);
}

@media only screen and (max-width: 1500px) {
    .fifth {
        width: 70%;
        margin-left: 15%;
        & .card {
            flex-direction: column !important;
            & .description {
                padding: 10px;
            }
        }
    }
    .third {
        width: 80vw;
        margin-left: 9.5vw;
    }
}

@media only screen and (max-width: 1060px) {
    .first {
        width: 80vw;
        margin-left: 10vw;
    }
    .fifth {
        width: 80%;
        margin-left: 10%;
        & .card {
            flex-direction: column !important;
        }
    }
}

@media only screen and (max-width: 900px) {
    .gallery-contain {
        width: 90vw;
        margin-left: 5vw;
        & .gallery img {
            width: 25vw;
            height: 25vh;
        }
    }
}

@media only screen and (max-width: 780px) {
    .first {
        flex-direction: column;
        & .igur {
            height: 40vh;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .fifth {
        width: 80vw;
        margin-left: 10vw;
        & .card {
            width: 110%;
            & img {
                height: 30vh;
            }
        }
        & .card .description {
            padding: 10px;
            & .title {
                font-size: 28px;
            }
            & .real-description {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 615px) {
    header .header-top {
        & .header-align-left {
            display: none;
        }
        & .header-align-right {
            height: 50px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-right: auto;
            padding: 2px 15px 2px 9px;
            border-radius: 190px;
            background-color: rgb(34, 33, 37);
            left: 10px;
        }
        & .logo {
            display: flex !important;
        }
    }
    .card .description .title {
        gap: 5px !important;
        & .logo {
            height: 50px !important;
        }
    }
    .fourth {
        width: 80vw;
        margin-left: 10vw;
        text-align: center;
    }
    .third {
        width: 95vw;
        margin-left: 1vw;
        gap: 2vh;
        & .contact-boxes {
            padding: 2vh;
            gap: 1vh;
            & .connect {
                font-size: 16px;
                margin-left: 1vh;
            }
            & .name {
                font-size: 22px;
            }
        }
    }
    .gallery-contain {
        width: 90vw;
        margin-left: 5vw;
        & .gallery img {
            width: 35vw;
            height: 20vh;
        }
    }
    .ttla {
        font-size: 22px !important;
    }
    footer {
        & .align-right {
            display: none !important;
        }
        & .align-left {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100vw;
            font-size: 16px;
        }
    }
    .me-gg {
        flex-direction: column;
        height: fit-content;
        gap: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        p {
            margin: 5px;
        }
    }
}

@media only screen and (max-width: 425px) {
    .first .side-text {
        font-size: 18px;
    }
    .boubacar {
        font-size: 24px !important;
    }
    .boubacarr {
        font-size: 18px !important;
    }
    .third {
        padding: 5px;
        & .contact-boxes {
            font-size: 14px;
            gap: 10px;
        }
    }
    .gallery-contain {
        width: 95vw;
        margin-left: 2.5vw;
        & .gallery img {
            width: 35vw;
            height: 15vh;
        }
    }
    footer .align-left .sep {
        display: none;
    }
}